*{
    text-decoration: line-through;
}

body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 350px;
    background-color: #C2A014	;
}
ul{
    list-style: none;
    display: flex;
    gap: 30px;
}


.content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}

.top-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 150px 350px;
    height: 30vh;
    background-color: #C2A014;
    gap: 10px;
}

.top-content-text{
    padding-right: 50px;
}
.top-content-text h1{
    font-size: 48px;
    font-weight: 900;
}

.top-content-text h2{
    font-size: 18px;
}

.top-content img{
    width: 30vw;
}

button{
    background-color: #1D3557;
    color: white;
    padding: 10px 30px;
    border-radius: 10px;
    font-size: 15px;
}

.middle-content{
    padding: 80px 20px;
    text-align: center;
}

.card-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 60px;

}

.card{
    padding: 50px;
}

.card img{
    width: 150px;
    height: 150px;
    border-radius: 10px;
}

.card p{
    font-size: 20px;
    width: 115px;
    padding: 0px 20px;
    text-align: center;
}


.bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 150px 350px;
    background-color: #D4B483	;
}

.cta{
    display: flex;
    justify-content: space-around;
    padding: 50px 200px
}

.cta-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: #1D3557;
    background-color: #C2A014;
    width: 70%;
    padding: 20px 20px;
    border-radius: 10px;
    font-weight: 900;
}


.footer{
    display: flex;
    justify-content: center;
    background-color: aqua;
    padding: 30px 10px;
    background-color: #C2A014	;
}